html, body {
  height: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100%;
}

/* .body {
  max-width: 300px;
  width: 100%;
  text-align: center;
} */
.typing-bubble {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
  display: inline-block;
  opacity: 0; /* Inicia con opacidad 0 para la primera iteración */
  animation: typingAnimation 0.7s infinite;
}
.typing-bubble:nth-child(1) {
  animation-delay: 0.2s; /* Ajusta el retardo según tus preferencias */
}

.typing-bubble:nth-child(2) {
  animation-delay: 0.3s; /* Ajusta el retardo según tus preferencias */
}

.typing-bubble:nth-child(3) {
  animation-delay: 0.4s; /* Ajusta el retardo según tus preferencias */
}

@keyframes typingAnimation {
  0%, 100% { opacity: 1; transform: translateY(0); }
  10% { opacity: 1; transform: translateY(0px); }
  50% { opacity: 1; transform: translateY(-7px); }
  90% { opacity: 1; transform: translateY(0); }
}







a.dropdown-item{
  white-space: normal;
}


.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

/* You can add global styles to this file, and also import other style files */
body.body {
 
  font-family: 'Roboto', sans-serif;
  background: #868484;
}


.coment {
  resize: none;
}
.notificationCom{
  position: absolute;
  top: 120px; /* Ajusta el valor según la distancia que desees entre la notificación y el botón */
  right: 15px; /* Ajusta el valor si deseas posicionar la notificación a la derecha */
  left: 15px;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

a.option-link {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

a.option-link:hover {
  background-color: #a9c2d75c;
  cursor: pointer;
}

p.option-link {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

p.option-link:hover {
  background-color: #a9c2d75c;
  cursor: pointer;
}


.chatbot-notification {
  position: fixed;
  bottom: 115px;
  right: 100px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  
}
.exitChat{
  height: 65px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

}
.exitChat:hover {
  background-color: #8a888840; /* Cambio de color cuando el cursor está sobre el círculo */
}

.btn-close{
  
  color: #ddd;
}



.chatbot-notification-text {
  font-weight: bold;
}

.chatbot-notification.show {

  opacity: 1;

}
.chatbot-notification.closedNoti {
  opacity: 0;
  z-index: -1000;

}


*, html {
  --primaryGradient: linear-gradient(93.12deg, #528ab8 0.52%, #083d65 100%);
  --secondaryGradient: linear-gradient(268.91deg, #528ab8 -2.14%, #083d65 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #adcae1;
  
  
}

/* bien */
.chatbox__image--header{
  width: 100px;
}
.chatbox__image--header img {
  width: 90%; /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto; /* Ajusta el alto de la imagen según tus necesidades */
  float: right; /* Hace que la imagen flote a la izquierda */

  pointer-events: none;
}
.chatbox__image--icon img{
  width: 95px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: 95px; /* Ajusta el alto de la imagen según tus necesidades */
  float: right; /* Hace que la imagen flote a la izquierda */
  margin-right: 18px; /* Espacio entre la imagen y el contenido del encabezado */
  cursor: pointer;
  margin-bottom: -10px;
}



/* caja chatbot */
/* Estilos generales para el chatbox */
.chatbox {
  position: fixed;
  background: none;
  bottom: 0px;
  right: 0px;
  max-height: none;
  transform: translateY(103%);
  transition: transform 0.3s ease-in-out;

}

.chatbox__support {
  flex-direction: column;
  background: white;
  height: 100%;
  max-height: none;
  border-radius: 10px;
  overflow: hidden;
  display: flex;

}

.chatbox.active {
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

/* Estilos para pantallas verticales */
@media (orientation: portrait) {
  .chatbox {

    width: 75%;
    height: calc(94vh - 16px);
    margin: 8px;    
    
  }

}





/* Estilos para pantallas horizontales */
@media (orientation: landscape) {
  .chatbox {

    width: 650px;
    height: calc(90vh - 16px);
    /* width: 95%;
    height: 97%; */

    margin: 8px; /* Agregar un margen de 8px alrededor del chatbox */
  }


}

/* Estilos para teléfonos */
@media (max-width: 600px) {
  .chatbox {
    width: 100%;
    /* height: 100vh; */
    width: calc(100% - 16px);  /* Reducir el ancho por 16px para el margen */
    height: calc(94vh - 16px);  /* Reducir la altura por 16px para el margen */

    margin: 8px; /* Agregar un margen de 8px alrededor del chatbox */
  }
/*   .chatbox__support {
    width: 100%;
    height: 99.9%;
    max-height: none;
    border-radius: 10px;
    display: flex;
  } */

}
.chatbox__content--header{
  width: calc(100% - 100px);
  padding-left: 10px;
}

.chatbox__header {
  /* padding: 5px 15px 5px 15px; Añadir espacio alrededor del encabezado */
  background: var(--primaryGradient);
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.chatbox__messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  
  /* Estilos para la barra desplazadora */
  scrollbar-width: thin; /* Para navegadores que no admiten pseudo-clases WebKit */
  scrollbar-color: #888 #f1f1f1; /* Color del pulgar y fondo de la barra */
}

.chatbox__messages::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra desplazadora */
}

.chatbox__messages::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar (scrollbar thumb) */
  border-radius: 6px; /* Bordes redondeados */
}

.chatbox__messages::-webkit-scrollbar-track {
  background-color: transparent; /* Color del fondo de la barra */
}

.chatbox__footer {
  padding: 12px 20px;
  background: var(--secondaryGradient);
  display: flex;

  align-items: center;
  justify-content: space-between; /* Distribuir elementos horizontalmente */
  margin-top: 10px; /* Agregar margen superior de 8px */
  /* position: absolute; */
  bottom: 0; /* Mantener el footer pegado abajo */
  width: 100%;
  max-height: 110px;
}

  
  

/* 
  .chatbox--active {
     transform: translateY(-10px); 
    z-index: 123456;
    opacity: 1;
} */


  

  

  
  .chatbox__heading--header {
    font-size: x-large;
    color: white;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .chatbox__description--header {
    font-size: medium;
    color: white;
  }
  /* sss */

  .send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
  
  .messages__item {
    max-width: 75%;
    width: fit-content;
    background: #E0E0E0;
    margin-bottom: 10px;
    padding: 8px 12px;
    margin-left: 10px;
    margin-right: 0px;
   
  }
  
  .messages__item--operator {
    margin-left: auto;
    background: var(--primary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;

  }
  .messages__item--visitor {
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

  
.tagtextarea {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 45px;
    resize: none;
    overflow-y: auto;
    max-height: 100px;
    /* Estilos para la barra desplazadora */
    scrollbar-width: thin; /* Para navegadores que no admiten pseudo-clases WebKit */
    scrollbar-color: #888 #f1f1f1; /* Color del pulgar y fondo de la barra */
}

  
  .textarea::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra desplazadora */
  }
  
  .textarea::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar (scrollbar thumb) */
    border-radius: 6px; /* Bordes redondeados */
  }
  
  .textarea::-webkit-scrollbar-track {
    background-color: transparent; /* Color del fondo de la barra */
  }
  
.chatbox__send--footer {
    flex: 1;/* Ocupar todo el espacio disponible */
    /* margin-top: 8px; Agregar margen superior */
    margin-left: 10px;
    background-color: #1f4e72;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  } 


  .iconoChat {
  position: fixed;
  bottom: 35px; /* Ajusta esta propiedad para controlar la distancia desde la parte inferior */
  right: 0px; /* Ajusta esta propiedad para controlar la distancia desde la derecha */
  /*z-index: 1000;  Asegura que el icono esté por encima de otros elementos */
}

